   
   
   
   :root {
    --primary-color: #fce138;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
      }
  
   .boxes {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
     }

   .steps {
       text-decoration-style: Helvetica;
      
    }
   
    #Hero text { 
       border-image-width: 10px; padding: 10px; background-color: tomato; 
        border-color: chocolate; flex-wrap: wrap; font: Helvetica; font-size: 10px;
        text-decoration-color: violet;
       }

    #Hero { 
     padding: 20px 35px;
     background-color: var(--tertiary-color);
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     position: sticky;
     position: -webkit-sticky;
     top: 0;
     background-image:("sand-beach-background-texture-high-600w-1980634661.webp");
     background-size: cover;
     background-attachment: fixed;
     background-position: 80%;
     z-index: 9999;
    }
   
     page-header{ 
       font-size: 10px; border: 2px; 
       Padding: 10px;
      border-color: blueviolet; 
       flex-wrap: wrap;
      justify-content: center; 
      }


     body { 
         background-color: red;
         Border: 10px; Margin: 10px;
         }



      h1 { 
       color: saddlebrown; background-color: sandybrown;}

      p { 
       background-color: seashell; color: steelblue;
        color: Helvetica;
      }

     div { 
       background-color: blueviolet;}

     footer {    

      border: violet ; text-align: justify; 

     }

    

     